<h2>Data Binding</h2>

<!-- Component to view (Interpolation) -->
<h3>One Way DataBinding</h3>

<h3>Way1. Interpolation (Comp-->view)</h3>
<h2>{{demo}}</h2>
{{title}} <br> value: {{x}} <br> method: {{addNos()}} {{showNumber()}}
<!-- <img src="{{}}" height="200" width="200"> -->


<h3>Way2. Property Binding (comp-->view)
  syntax->[ binding target]="source"
</h3>
<div>
<input [value]="demo">
<img [src]="src1" [width]="wi" alt="">
<button [disabled]="isDisabled">Ok</button>
</div>

<h3>Way3. Event Binding (view-->comp)</h3>


<div>
<button (click)="show()">click me</button>
<p>count is {{count}}</p>
</div>

<h2>Two Way Binding</h2>
<h3>Way1. </h3>

<!-- rule:-must have formModule imports in the app.module.ts file inside imports{} -->
<input type="text" [(ngModel)]="name" />
<p>you entered {{name}}</p>

<h2>defined pipe</h2>
<h4>Uppercase pipe</h4>
<b>{{title| uppercase}}</b>
<h4>Lowercase pipe</h4>
<b>{{title|lowercase}}</b><br>
<b>{{545|percent}}</b><br>
<b>{{today |date:'d/M/y'}}</b><br>
<b>{{today |date}}</b><br>
<b>{{6589.23 | currency:"USD":true}}</b>

<h2>Custom Pipe</h2>
<!-- ng g p mypipe for pipe creation -->
<p>{{billAmount|myCurr}}</p>
<p>{{Discount|myPipe}}</p>